.s {
	font-size: 14px;
	font-weight: 600;
}

.m {
	font-size: 16px;
	font-weight: 600;
}

.l {
	font-size: 22px;
	font-weight: 700;
}


.primary {
	color: var(--red-100);
}

.white {
	color: var(--text-100);
}

.gray {
	color: var(--text-200);
}

.gray-dark {
	color: var(--bg-300);
}

.black {
	color: var(--text-300);
}