.input {
	padding: 10px 14px;
	border-radius: 8px;
	background: var(--bg-200);
	border: none;
	outline: none;
	color: var(--text-100);
	font-size: 18px;
	line-height: 120%;
}

.input::placeholder {
	color: rgba(255,255,255, 0.25);
}